---
const db = Astro.locals.runtime.env.cpporigin;
const { results } = await db.prepare('SELECT id, maintitle FROM cppOriginIndex').all();
---

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!-- 关键是下面这一行！必须要加！ -->
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的博客</title>
</head>
<body>
    <h1>首页 - 知识分类</h1>
    <ul>
        {results.map((item: any) => (
            <li>
                <a href={`/category/${item.id}`}>
                    {item.maintitle}
                </a>
            </li>
        ))}
    </ul>
</body>
</html>